<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      <title>Extract for me</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
      <!-- Custom styles for this template -->
      
      <link href="{% static "css/metisMenu.min.css"%}" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="{% static "css/sb-admin.css"%}" rel="stylesheet">
      
      <!-- Custom Fonts -->
      <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
      <script src="{% static "js/ie-emulation-modes-warning.js"%}"></script>
      
   </head>
   <body>
      <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gmail Extractor</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li >
                        <a  href="/bulkdownload/mydownloads/">Downloads</a>
                        
                    </li>
                    <li >
                        <a id="myName"  ><i class="fa fa-user"></i></a>
                    </li>
                    <li >
                        <a  href="/logout/"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
                <!-- /.dropdown -->
                            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="all_labels">
                        
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>



         
         <!--main-page-wrapper-starts-here-->
         <div id="page-wrapper" style="height: 800px;">
            <div class="container-fluid">
               <!-- Page Heading -->
               <div class="row">
                  <div class="col-lg-12">
                     <h4 id="labelname"  class="page-header"><i class="fa fa-dashboard">Explore your digital data:</i>
                     </h4>
                  </div>
               </div>
               <div class="row" style="display: -webkit-box;">
               <div class="col-sm-5">
                  <input id="filter_input" type="text" class="form-control"  placeholder="Emails containing words:">
               </div>
               <button  id="filter_mails" onClick="filter_mails()" type="button" class="btn btn-secondary ">&nbsp;Search&nbsp;</button>&nbsp;&nbsp;&nbsp;
               
               <button   id="bulk_download"   data-target="#bulkpop" data-toggle="modal" type="button" class="btn btn-secondary">&nbsp;Download&nbsp;</button>&nbsp;&nbsp;&nbsp;</div>
               <!-- Modal  data-target="#bulkpop" data-toggle="modal" -->
               <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title" id="myModalLabel">Download as JSON</h4>
                        </div>
                        <div class="modal-body">
                           <p > Download the selected mails as a JSON file.</p>
                           <p>Specify the filename below:</p>
                           <table>
                              <tr>
                                 <input id="json_filename" type="text"    placeholder="Filename">
                                 .json
                              </tr> 
                           </table>
			    &nbsp;<small style="color:red;">*This is only for first 50 mails.</small><br/> 		
                           <br>
                           <button type="button" class=" btn btn-danger" onClick="download_as_json()"  >Download</button>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!--download as json ends-->
               <!--bulk modal starts-->
               <div class="modal fade" id="bulkpop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title" id="myModalLabel">Gmail Extractor</h4>
                        </div>
                        <div class="modal-body">
                           <p id="reqresponse"  > <small>Select a folder from the list given in left.</small></p>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!--bulk modal ends-->
               <br><br>
               <div class="container-fluid">
                  <p class="bg-info lead " style="color: #204056; background-color: #e9eaea;">&nbsp; <input type="checkbox" onClick="toggle(this)" /> <small>Select All</small></p>
               </div>
               <div class="container-fluid">
                  <div class="row-fluid">
                     <div class="centering text-center">
                        <center id="loading_error" style="display:none;color:#B20000;">
                           <br/><br/>
                           Something went wrong. Please try again.
                        </center>
                        <center id="loading_spinner" style="display:none">
                           <img src="{%static "gif/loading.GIF" %}" alt="Loading..." style="position:relative;top:50%;" height="50em" width="50em">
                           <br/>
                           Please wait. While we are retieving your data.
                           <br/>
                           <br/>
                           <!-- Place this code where you'd like the game to appear -->
                        </center>
                        <center id="norecordfound" style="display:none">
                           <br><br>
                           <img src="{%static "images/no-record-found.png" %}" alt="No Record Found.." style="position:relative;top:50%;" height="150em" width="150em">
                        </center>
                     </div>
                  </div>
               </div>
               <!--accordion display-->
               <div  class="container-fluid">
               <div id="mails_accordion"  style="background-color:#fff;" class ="panel-group accordion "  role="tablist" aria-multiselectable="true" >
               </div></div>
               <!--accordion display ends-->  
            </div>
         </div>
         <!-- Create JSON files here -->
         <div id="json_content" style="display:none;"></div>
      </div>
      <!-- Bootstrap core JavaScript -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{% static "js/jquery.min.js"%}"></script>
      <script src="{% static "js/bootstrap.min.js"%}"></script>
      <script src="{% static "js/metisMenu.min.js" %}"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
      <!-- Insert this code before your </body> tag -->
      <script src="{% static "js/extractor.js" %}"></script>
      <!--<script src="{% static "foundation/js/foundation.min.js" %}"></script>-->
      
      <script src="{% static "js/sb-admin-2.js" %}"></script>
      <script>
         
            function start(){
              get_lists();
              get_user();
            }
         window.onload=start;
      </script>
      <script type="text/javascript">
         function toggle(source) {
         checkboxes = document.getElementsByName('greenCheck');
         for(var i=0, n=checkboxes.length;i<n;i++) {
           checkboxes[i].checked = source.checked;
         }
         }
        
  
  		$("#filter_input").on("keyup", function() {
  		var g = $(this).val();
  		filter_mails(g);
  		});

  		
      </script>
      
      
   </body>
</html>
