<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      <title>Extract for me</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
      <!-- Custom styles for this template -->
      
      <link href="{% static "css/metisMenu.min.css"%}" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="{% static "css/sb-admin.css"%}" rel="stylesheet">
      
      <!-- Custom Fonts -->
      <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
      <script src="{% static "js/ie-emulation-modes-warning.js"%}"></script>
   </head>
   <body>
      <!-- Navigation -->
   <div id="wrapper">
       <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gmail Extractor</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li >
                        <a  href="/bulkdownload/mydownloads/">Downloads</a>
                        
                    </li>
                    <li >
                        <a id="myName"  ><i class="fa fa-user"></i></a>
                    </li>
                    <li >
                        <a  href="/logout/"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
                <!-- /.dropdown -->
                            </ul>
            <!-- /.navbar-top-links -->

        </nav>


      <div class="container">
         <div class="page-header">
            <h3>Your Download is ready..</h3>
         </div>
         <table id ="requested_downloads" class="table table-striped" style="width:100%">
         <thead>
            <tr>
               <th >Label</th>
               <th >Date</th>
               <th >Options</th>
               <th >Filename</th>
            </tr>
          </thead>  
         </table>
         <!-- Create JSON files here -->
         <div id="bulk_json_content" style="display:none;"></div>
      </div>
      <!-- /container -->
   </div>   
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
 <!-- Bootstrap core JavaScript -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{% static "js/jquery.min.js"%}"></script>
      <script src="{% static "js/bootstrap.min.js"%}"></script>
      <script src="{% static "js/metisMenu.min.js" %}"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
      <!-- Insert this code before your </body> tag -->
      <script src="{% static "js/extractor.js" %}"></script>
      <!--<script src="{% static "foundation/js/foundation.min.js" %}"></script>-->
      
      <script src="{% static "js/sb-admin-2.js" %}"></script>
      <script>
                  function start(){
                                      get_user();
                                      get_completed_download();
                                  }
         window.onload=start;
              
      </script>
     
   </body>
</html>
