<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gmail Extractor</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/form-elements.css"%}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">

    </head>

    <body>

		<!-- Top menu -->
        <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Gmail Extractor Sign up</a>
                </div>
                
            </div>
        </nav>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1><strong>Gmail Extractor</strong> Registration Form</h1>
                            <div class="description">
                            	<p>
	                            	This is a tool to extract your mails and store it locally for further research.
	                            	Register <a href="#"><strong>HERE</strong></a>, to use our services!
                            	</p>
                            </div>
                            
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Sign up now</h3>
                            		<p>Fill in the form below to get instant access:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form name="signup" method="post" class ="registration-form" action="/signup/">{% csrf_token %}
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-first-name">Email</label>
                                        <input class="form-first-name form-control" id="form-first-name" name="email" type="email" placeholder="email" value="{{ email_id }}" readonly/>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name">Password</label>
			                        	<input  name="password" type="Password" placeholder="Enter new password.." class="form-last-name form-control" id="password">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email">Retype Password</label>
			                        	<input type="Password" name="re-password" type="Password" placeholder="Retype password.." class="form-email form-control" id="re-password">
			                        </div>
			                        <button type="submit" class="btn">Sign me up!</button>
			                    </form>
                                <div class="col-sm-5 form-box">
                                    <p id="validate-status"></p>
                                </div>    
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <script>
        $(document).ready(function() {
            $("#re-password").keyup(validate);
        });
        
        
        
        function validate() {
            var password1 = $("#password").val();
            var password2 = $("#re-password").val();
            
            submit_form = document.getElementById("submit_form");
 
            if(password1 == password2) {
                submit_form.className="button small radius";
                submit_form.value = "Submit";
                submit_form.disabled="";
            }
            else {
                submit_form.className="button small radius disabled";
            }
        }
        
    </script>


        <!-- Javascript -->
        <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.backstretch.min.js" %}"></script>
        <script src="{% static "js/retina-1.1.0.min.js" %}"></script>
        <script src="{% static "js/scripts.js" %}"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>